# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# my stuff
adir/
pml-training.csv
pml-testing.csv
pml-writeup_cache/
